
h1, h2, h3, h4, h5, h6, p, body, a, a.navigation-title {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
  border-bottom: 1px solid lightgrey;
  width: 100%;
}

.homepageh2 {
  border-bottom: 0;
}

.cv h3 {
  display: flex;
  justify-content: space-between;
}
.cv .right-aligned {
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
    .qrcode {
      margin: auto;
      width: 90%;
  }
}

body.colorscheme-dark a,
body.colorscheme-dark .navigation a:hover,
body.colorscheme-light .navigation a:hover {
    color: orange;
}

a, a:hover {
    color: orange;
    text-decoration: none;
}

body.colorscheme-dark .navigation {
  background-color: #212121;
}
body.colorscheme-light .navigation {
  background-color: #fafafa;
}

@media only screen and (max-width: 768px) and (prefers-color-scheme: dark) {
    .navigation {
        position: fixed;
        top: 0;
        height: 4rem;
  }
}

@media only screen and (max-width: 768px) and (prefers-color-scheme: light) {
    .navigation {
          position: fixed;
          top: 0;
          height: 4rem;
      }
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: #212121 !important;
    }
  }

@media (prefers-color-scheme: light) {
    :root {
        background-color: #fafafa !important;
    }
  }

body.dark {
    background-color: #424242 !important;
  }


body.colorscheme-dark .highlight pre {
    background-color: #424242 !important;
}

@media print and (-webkit-min-device-pixel-ratio:0) {
    body, a, h1, h2, h3, h4, h5, h6, p, .navigation {
        font-size: 10pt !important;
        font-family: Arial, Helvetica, sans-serif !important;
}
}

@media print {
    * {
      color-scheme: light;
      color: black;
      background-color: transparent;
    }
    :root {
      background-color: white !important;
  }

    body * {
      visibility: hidden;
    }
    #container-for-print * {
      background-color: transparent;
      visibility: visible;
    }
    #container-for-print {
      position: absolute;
      left: 0;
      top: 0;
    }
    .heading-link {
        visibility: hidden !important;
    }
    .fa, .fa-link, .sr-only {
        visibility: hidden !important;
    }
  }
  
